@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import './navbar.scss';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(204, 203, 199);
  outline: 1px solid  rgba(231, 164, 18, 0);
}

.content-wrapper{
	padding-left: 280px;
}
.bg-color{
	background-color: #eceff3f0;
}
.list-icon{
padding-left: 0.5rem;
padding-right: 0.5rem;
}
@media screen and (min-width: 320px) and (max-width: 575.99px) {
	.content-wrapper {
		padding-left: 0;
	}
}